body{
    overflow-x: hidden;
}
.carousel{
    height:500px;
}
.navbar{
    background-color:#FFA726;
}
.navbar .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;

}

.navbar .nav-item.active{
    border-left: #E65100 3px solid;
}
#iframeContainer{

    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}
  #iframeContainer iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

